<!DOCTYPE html>
<body>
    <footer>
        <div class="foot">
            <div id="image-footer">
                <img src="/images/logo-text-dhbc-centred.png" alt="logo">
            </div>
            <div class="box-content">
                <div class="decoration">Términos y Condiciones</div>
                <div class="decoration">Defensa del Consumidor</div>
                <div class="decoration">Prevención de Lavado de Dinero</div>
                <div class="decoration">Información para Inversores</div>
                <div class="decoration">Protección de Datos Personales</div>
                <div class="decoration">Ley 24.240 Defensa del Consumidor</div>
            </div>
        </div>
    </footer>
</body>
</html>