<header>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <div class="container-logo">
        <a href="/"> <img src="/images/logo-text-dhbc-centred.png" alt=""></a>
        <div class="user-box">
            
        </div>

    </div>
</header>