<header>
    <div class="container-logo">
        <a href="/<%= link_logo %> "> <img src="/images/logo-text-dhbc-centred.png" alt=""></a>
<!--         <div class="user-box">
            <div class="boton login">
                <a href="/login" class="bot">iniciar sesión</a>
            </div>
            <div class="boton admin">
                <a href="/admin" class="bot">admin</a>
            </div>
        </div>
 -->
    </div>
</header>