<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width-device-witdt, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimun-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="formulario">
        <h3>Hola, introduce tu usuario y clave de acceso y entra en DHBC online:</h3>
        <form method="post">
           <div class="usuario">
               <input type="text" required>
               <label>Ingrese su usuario</label>
           </div>