<!DOCTYPE html>
<link rel='stylesheet' href='/stylesheets/admin.css' />
<%- include('./partials/head', {title: ""}) %>

    <body>
        <%- include('./partials/header', {link_logo: ""}) %>
            <div class="generetor">
                <div class="h2">
                    <h2>generador de código</h2>
                </div>
                <div class="contentGEN">
                    <div class="boxing">
                        <div class="contentNumber"><small class="small"> </small></div>
                        <div class="buttons">
                            <div class="boton Gen"><input type="button" value="generar códigos"></div>
                            <div class="boton Des"><input type="button" value="parar generador"></div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./partials/footer') %>
        <script src="js/generetor.js"></script>
    </body>
</html>