<!DOCTYPE html>
<link rel='stylesheet' href='/stylesheets/admin.css' />
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="generetor">
                <div class="h2">
                    <h2>generador de código</h2>
                </div>
                <div class="contentGEN">
                    <div class="boxing">
                    </div>
                </div>
            </div>
            <%- include('./partials/footer') %>
        <script src="js/generetor.js"></script>
    </body>
</html>