<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style-orden.css">
    </head>
   <body>
         <header>
            <nav>
                 <ul>
                    <li>
                       <a class="letra" href="/orden/crear">Crear orden</a>
                    </li>
                    <li>
                       <a class="letra" href="/orden">Ver orden</a>
                    </li>
                 </ul>
            </nav>
            <h1>Crear turno</h1>
            <form action="/orden/crear" method="POST">
                <div>
                    <label for="">Codigo</label>
                    <input type="text" name="codigo">
                </div>
                <div>
                    <label for="">Caja</label>
                    <input type="text" name="caja">