<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style-orden.css">
    </head>
   <body>
         <header>
            <nav>
                 <ul>
                    <li>
                       <a class="letra" href="/orden/crear">Crear orden</a>
                    </li>
                    <li>
                       <a class="letra" href="/orden">Ver orden</a>
                    </li>
                 </ul>
            </nav>
         </header>
         <h1>Lista de turno</h1>
         <ul>
            <% for (let i = 0; i < order.length; i++){ %>
                <li>
                    <a href= "/orden/<%=order[i].id%>">
                    <%=order[i].codeOrderly%>
                    </a>
                </li>
           <% } %>
        </ul>
        <footer>
       </footer>
   </body>
</html>