<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width-device-witdt, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimun-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login .css">
</head>
<body>
    <div class="formulario">
     <h3>Hola, introduce tu usuario y clave de acceso y entra en DHBC online:</h3>
     <div class="errores">
        <ul></ul> 
     </div>
     <form method="POST" class="form" id="form">
        <div class="usuario">
            <input type="text" id="name" required>
            <label>Ingrese su usuario</label>
        </div>
        <div class="usuario">
            <input type="password" id="contra" required>
            <label>Contraseña</label>
        </div>
        <div>
            <input name="" type="checkbox" value=""/><span class="recordar">Recordar</span>
        </div>
        <div>
        <div class="recordar">Olvido su contraseña</div>
            <input type="submit" value="Iniciar">
        </div>
    </div>
</body>
</html>