<!DOCTYPE html>
<html lang="en">
    <title>Digital House Banking Corporation Limited</title>
<body> 
        <div class=contenedor>
            <div>
            </div> 
            <div class="image">
                <img src="/images/error404.png"  class="img" alt="404">
            </div>
            <div>
                <p class="parrafo">Oopss! Página no encontrada</p>
            <div class="boton">
                <a class="button" href="/">Regresar</a>
            </div>
        </div>
       </div>
      </div>
    </body>
</html>