.img {
    width: 80%;
    align-self: center;

}
.contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    border-radius: 5px;
}
.parrafo{
    font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
    margin: -12px;
    font-size: 25px;
}