.img {
    width: 70vw;
    align-self: center;

}
.contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    border-radius: 5px;
}
.parrafo{
    font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
    margin: -12px;
    font-size: 25px;
}
.boton {
    margin: 40px;
}
a.button {
    background-color: #1b355f;
    text-decoration: none;
    padding: 14px 22px;
    border: 1px;
    margin: auto 4rem;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #608bd1; 
    transition: .5s;
}